name: "Docker Build and Push"
description: "Builds and pushes a Docker image if a Dockerfile exists"
inputs:
  repoflow_user:
    description: "Repoflow user"
    required: true
  repoflow_password:
    description: "Repoflow password"
    required: true
  repoflow_url:
    description: "Repoflow URL (e.g. registry.example.com)"
    default: "repoflow.paynepride.com"
  repoflow_workspace:
    description: "Repoflow workspace"
    default: "foo"
  repoflow_repo:
    description: "Repoflow container repo"
    default: "docker-local"
  extra_tags:
    description: "Comma-separated list of additional tags to apply and push (e.g. 'dev,staging,1.0.3')"
    required: false
    default: ""
runs:
  using: "composite"
  steps:
    - name: Check for Dockerfile
      id: check
      shell: bash
      run: |
        echo "repoflow_full_url=${{ inputs.repoflow_url }}/${{ inputs.repoflow_workspace }}/${{ inputs.repoflow_repo }}" >> ${GITHUB_OUTPUT}
        if [ ! -f Dockerfile ]; then
          echo "No Dockerfile found. Skipping build."
          echo "found=false" >> "$GITHUB_OUTPUT"
          exit 0
        fi
        echo "found=true" >> "$GITHUB_OUTPUT"

    - name: Log in to Artifactory
      if: steps.check.outputs.found == 'true'
      shell: bash
      run: |
        echo "${{ inputs.repoflow_password }}" | docker login "${{ steps.check.outputs.repoflow_full_url }}" -u "${{ inputs.repoflow_user }}" --password-stdin

    - name: Build and push image
      if: steps.check.outputs.found == 'true'
      shell: bash
      run: |

        REPO_NAME_RAW=$(basename "$GITHUB_REPOSITORY")
        # lowercase
        REPO_NAME=${REPO_NAME_RAW,,}
        BASE_URL="${{ steps.check.outputs.repoflow_full_url }}/library/${REPO_NAME}"

        TAG_LATEST="${BASE_URL}:latest"
        TAG_SHA="${BASE_URL}:${GITHUB_SHA}"

        echo "Building and pushing ${TAG_SHA}"
        docker build -t "$TAG_SHA" -t "$TAG_LATEST" .

        docker push "$TAG_SHA"
        docker push "$TAG_LATEST"

        if [ -n "${{ inputs.extra_tags }}" ]; then
          IFS=',' read -ra TAGS <<< "${{ inputs.extra_tags }}"
          for tag in "${TAGS[@]}"; do
            TRIMMED_TAG=$(echo "$tag" | xargs)
            FULL_TAG="${BASE_URL}:${TRIMMED_TAG}"
            echo "Tagging and pushing ${FULL_TAG}"
            docker tag "$TAG_SHA" "$FULL_TAG"
            docker push "$FULL_TAG"
          done
        fi
