[Unit]
Description=Olivet Sermon File Monitor Service
After=network.target

[Service]
Type=simple
; ExecStart=/bin/bash %h/projects/personal/homelab-mono/dataops/systemd/olivet-sermon-notifier/check-sermons.sh
ExecStart=%h/.local/bin/uv run %h/projects/personal/homelab-mono/dataops/systemd/olivet-sermon-notifier/check-sermons.py
Restart=on-failure
RestartSec=30
StandardOutput=journal

# Set so that gotify cli gets the config in the directory
WorkingDirectory=%h/projects/personal/homelab-mono/dataops/systemd/olivet-sermon-notifier

[Install]
WantedBy=default.target
